<menu>
    <div class="menu-container">
      <img id="logo" src="/web/Img/imgprov.png" alt="Logo" height="70px">

      <span class="hamburger-icon"><i class="fas fa-bars"></i></span>

      <div class="dropdown-menu">
        <ul>
          <li><a href="/loginpro/provedor/Vero">Inicio</a></li>
          <li><a href="/provAlmaguer">Estadisticas</a></li>
          <li><a href="/aboutus">Editar Datos </a></li>
          <li><a href="/login">Cerrar Sesión</a></li>
        </ul>
      </div>
    </div>
  </menu>
  