<%- include("templates/encabezado")%>
  <%- include("templates/menulogin")%>
    <link rel="stylesheet" href="/web/css/styleAboutUs.css">
    <nav>
      <a href="/inicio">
        <div id="title"><img id="logo" src="/web/Img/Grupo 1@2x.png" alt="Logo" height="90px"></div>
      </a>
      <div class="subt">Objetivo</div>
      <p>El objetivo principal del proyecto LoboEat es proporcionar una solución eficiente y conveniente para que la
        comunidad estudiantil de la UTSJR pueda realizar pedidos de comida desde cualquier lugar y navegador. El
        objetivo es agilizar el proceso de adquisición de alimentos en la cafetería de la UTSJR, permitiendo a los
        usuarios recoger y consumir su comida en el tiempo disponible, sin tener que esperar largas colas.
      </p>

      <div class="subt">Alcance</div>
      <p>El alcance del proyecto LoboEat se limita a la comunidad universitaria de la UTSJR, incluyendo estudiantes,
        profesores y personal de la institución. La aplicación web permitirá a los usuarios realizar pedidos de comida a
        través de cualquier navegador y pagarlos con tarjeta o en efectivo.
        El enfoque principal es optimizar el tiempo de los estudiantes al evitar esperas innecesarias en la cafetería y
        brindarles la oportunidad de disfrutar de su comida en el corto tiempo de descanso entre clases.

      </p>

      <div class="subt">Planificacíon</div>
      <p>Para la planificación del proyecto LoboEat, se implementará la metodología ágil de Scrum. Esto implica dividir
        el trabajo en iteraciones cortas llamadas "sprints", donde se realizan entregas incrementales y se priorizan las
        funcionalidades más importantes para los usuarios. Se asignarán roles específicos a cada miembro del equipo,
        como el Scrum Master, programadores, diseñador y analista, para asegurar una colaboración efectiva y un avance
        constante del proyecto.
      </p>

      <div class="subt">Modelo de desarrollo </div>
      <p> Para el desarrollo del proyecto LoboEat, se utilizará el modelo de desarrollo ágil. Este enfoque permite una
        adaptación continua a medida que se obtienen retroalimentaciones de los usuarios y se realizan mejoras
        iterativas en el producto.
        El equipo de desarrollo trabajará en estrecha colaboración con los usuarios y los stakeholders para garantizar
        que el producto final cumpla con sus necesidades y expectativas.
      </p>

      <div class="subt">Que opinan sobre nosotros </div>
      <div class="containerprov">
        <div id="prov1"><img src="/web/Img/prov1.jpg" alt="provedor1">
          <p>“Me ayuda a mi logística de entrega y son más exactos a mis tiempos” </p>
          <footer>"Vero H"</footer>
        </div>
        <div id="prov1"><img src="/web/Img/prov2.jpg" alt="provedor2">
          <p>“Me ayuda a mi logística de entrega y son más exactos a mis tiempos” </p>
          <footer>"Sew K"</footer>
        </div>
      </div>
      <br>
    </nav>
    <%- include("templates/pie")%>