<!--Reuqerimientos-->
<%- include("templates/encabezado")%>
  <%- include("templates/googleanalitics")%>
    <%- include("templates/menulogin")%>
      <link rel="stylesheet" href="/web/css/styleAboutUs.css">
      <!--Inicio de los provedores -->
      <div class="provider-container owl-carousel">
        <!--Provedor id 2 vero -->
        <div class="provider">
          <a href="/provVero">
            <img class="provider-image animate__animated animation fade-in" src="/web/Img/Vero V2 optimizwed.jpg"
              alt="Proveedor Vero">
            <div class="provider-name animation fade-in">Proveedor Vero</div>
          </a>
        </div>
        <!--Provedor id 1 Almaguer -->
        <div class="provider">
          <a href="/provAlmaguer">
            <img class="provider-image animate__animated animation fade-in" src="/web/Img/Almaguer v2 opt.jpg"
              alt="Proveedor Almaguer" height="300px">
            <div class="provider-name">Gastronomica Almaguer</div>
          </a>
        </div>
      </div>