<%- include("templates/encabezado")%>
<%- include("templates/menu")%>

<div class="provider-container">
    <div class="provider">
      <a href="/provVero">
        <img class="provider-image" src="/web/Img/Vero V2 optimizwed.jpg" alt="Proveedor Vero">
        <div class="provider-name">Proveedor Vero</div>
      </a>
    </div>
    <div class="provider">
      <a href="/provAlmaguer">
        <img class="provider-image" src="/web/Img/Almaguer v2 opt.jpg" alt="Proveedor Almaguer">
        <div class="provider-name">Gastronomica Almaguer</div>
      </a>
    </div>
    <!-- <div class="provider">
      <a href="/provAlmaguer">
        <img class="provider-image" src="/web/Img/CafBugambilia.png" alt="Proveedor Almaguer">
        <div class="provider-name">Cafteria Bugambilia</div>
      </a>
    </div> -->
  </div>