<!-- Reuqerimientos -->
<%- include("templates/encabezado")%>
  <%- include("templates/menulogin") %>
    <%- include("templates/googleanalitics")%>
      <!-- CSS -->
      <link rel="stylesheet" href="../web/css/sylelogin.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css">

      <!-- JS -->
      <script src="/web/js/login.js"></script>

      <div class="container">
        <!-- Inicia el formulario -->
        <div id="form">
          <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="tipoUsuarioSwitch">
            <label class="form-check-label" for="tipoUsuarioSwitch">¿Eres proveedor?</label>
          </div>

          <!-- Formulario para usuarios normales -->
          <form action="/inicio" method="post" id="usuarioForm">
            <!-- Expediente -->
            <input type="text" name="login" id="login" placeholder="Expediente" autocomplete="on" autofocus
              maxlength="10">
            <!-- Contraseña -->
            <input type="password" name="password" id="password" placeholder="Contraseña" autocomplete="on"
              maxlength="20" minlength="8">
            <!-- Btn iniciar seccion -->
            <button class="button_login" type="submit">Iniciar Sesión</button>
            <!-- Proximamente -->
            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
            <!-- Se va a register.ejs -->
            <p id="crearusr"><a href="/register">Crear Usuario</a></p>
          </form>

          <!-- Formulario para proveedores (Inicialmente oculto) -->
          <form action="/loginpro" method="post" id="proveedorForm" class="collapse">
            <!-- Campos adicionales para proveedores -->
            <!-- Aquí puedes agregar los campos que sean necesarios para el registro de proveedores -->
            <input type="text" name="num_prov" id="num_prov" placeholder="Numero de provedor" required autocomplete="on"
              autofocus maxlength="6">
            <input type="password" name="password" id="password" placeholder="Contraseña" required autocomplete="on"
              maxlength="20" minlength="8">
            <!-- Btn iniciar seccion para proveedores -->
            <button class="button_login" type="submit">Iniciar Sesión</button>
            <!-- Proximamente -->
            <p><a href="#">¿Olvidaste tu contraseña de proveedor?</a></p>
          </form>
        </div>
      </div>

      <!-- Integracion de reloj de api externa -->
      <a href="https://time.is/San_Juan_del_Río" id="time_is_link" rel="nofollow"
        style="font-size:36px;color:#68a423"></a>
      <span id="_z159" style="font-size:36px;color:#68a423"></span>
      <script src="//widget.time.is/t.js"></script>
      <script>
        time_is_widget.init({
          _z159: {
            id: "San_Juan_del_Río_z159",
            time_format: "12hours:minutesAMPM"
          }
        });
      </script><br><br>

      <!-- Reuqerimientos -->
      <%- include("templates/pie")%>
        </body>

        </html>