<%- include("templates/menulogin")%>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
  <div id="form">
    <form action="/inicio" method="post"> <!-- Cambiado el método a "post" -->
      <input type="text" name="login" id="login" placeholder="Expediente" autocomplete="on" autofocus>
      <input type="password" name="password" id="password" placeholder="Contraseña" autocomplete="on">
      <button type="submit">Iniciar Sesión</button>
      <p><a href="#">¿Olvidaste tu contraseña?</a></p>
      <p id="crearusr"><a href="#">Crear Usuario</a></p>
    </form>
  </div>
</div>
<a href="https://time.is/San_Juan_del_Río" id="time_is_link" rel="nofollow" style="font-size:36px;color:#68a423"></a>
<span id="_z159" style="font-size:36px;color:#68a423"></span>
<script src="//widget.time.is/t.js"></script>
<script>
  time_is_widget.init({
    _z159: {
      id: "San_Juan_del_Río_z159",
      time_format: "12hours:minutesAMPM"
    }
  });
</script><br><br> 
<%- include("templates/pie")%>