<%- include("templates/encabezado")%>
<%- include("templates/menu")%>
<link rel="stylesheet" href="/web/css/stylesOfMenu.css">
<div class="grid-container">
  <div class="grid-item">
    <img src="https://cdn.pixabay.com/photo/2016/09/30/21/31/egg-1706421_1280.jpg" alt="Descripción de la imagen" />
    <div class="overlay">
      <span>Huevos al gusto
        $35.00
      </span>
      <p class="description hidden">Descripción del producto</p>
    </div>
  </div>
    <div class="grid-item">
      <img src="https://cdn.pixabay.com/photo/2017/09/16/19/21/salad-2756467_1280.jpg" alt="Descripción de la imagen" />
      <div class="overlay">
        <span>Ensalada
          $50.00
        </span>
      </div>
    </div>
    <div class="grid-item">
      <img src="https://cdn.pixabay.com/photo/2014/11/05/15/57/salmon-518032_1280.jpg" alt="Descripción de la imagen" />
      <div class="overlay">
        <span>Pescado
          $10.00
        </span>
      </div>
    </div>
    <div class="grid-item">
      <img src="https://cdn.pixabay.com/photo/2017/05/07/08/56/pancakes-2291908_1280.jpg" alt="Descripción de la imagen" />
      <div class="overlay">
        <span>Hot Cakes
          $65.00
        </span>
      </div>
    </div>
    <div class="grid-item">
      <img src="https://cdn.pixabay.com/photo/2017/01/11/11/33/cake-1971552_1280.jpg" alt="Descripción de la imagen" />
      <div class="overlay">
        <span>Pastel de chocolate
          $75.00
        </span>
      </div>
    </div>
    <div class="grid-item">
      <img src="https://cdn.pixabay.com/photo/2016/03/05/19/02/hamburger-1238246_1280.jpg" alt="Descripción de la imagen" />
      <div class="overlay">
        <span>Hamburgesa
          $25.00
        </span>
      </div>
    </div>
    <div class="grid-item">
      <img src="https://cdn.pixabay.com/photo/2017/06/24/05/26/hot-dog-2436747_1280.jpg" alt="Descripción de la imagen" />
      <div class="overlay">
        <span>Hot dog
          $48.00
        </span>
      </div>
    </div>
    <div class="grid-item">
      <img src="https://cdn.pixabay.com/photo/2017/03/30/15/47/churros-2188871_1280.jpg" alt="Descripción de la imagen" />
      <div class="overlay">
        <span>Churros
          $53.00
        </span>
      </div>
    </div>
    <div class="grid-item">
      <img src="https://cdn.pixabay.com/photo/2018/07/15/19/54/bruschetta-3540405_1280.jpg" alt="Descripción de la imagen" />
      <div class="overlay">
        <span>Molletes
          $18.00
        </span>
      </div>
    </div>
  </div>
  <div class="containerpopup"></div>
  <div class="popup" id="popup">
    <span class="close-button">&times;</span>
    <h2 id="popup-title" class="popup-title"></h2>
    <div id="popup-image" class="popup-image"></div>
    <div id="popup-description" class="popup-description"></div>
    <ul id="popup-ingredients" class="popup-ingredients"></ul>    
    <button id="popup-button">Agregar al carrito</button>
  </div>
  