<!-- shopingCart.ejs -->
<%- include("templates/encabezado")%>
<%- include("templates/menu")%>
<link rel="stylesheet" href="/web/css/shopingCart.css">
<script src="/web/js/carrito.js"></script>
<div class="container">
  <div class="cart">Tu pedido es:  
  </div>
</div>
