<%- include("templates/encabezado")%>
<%- include("templates/menu")%>
<link rel="stylesheet" href="/web/css/shopingCart.css">
<script src="/web/js/almaguer.js" defer></script>
<script src="/web/js/carrito.js" defer></script>
<div class="container">
    <div class="cart">Tu pedido es  </div>

</div>