<link rel="stylesheet" href="/web/css/style.css">
<link rel="icon" href="/web/Img/olla-caliente-image.png">
<title>LoboEat</title>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1TM3QJ6K7B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-1TM3QJ6K7B');
</script>
<!-- End of Google tag (gtag.js) -->
<menu>
  <img id="logo" src="/web/Img/Grupo 1@2x.png" alt="Logo" height="70px">
</menu>