<%- include("templates/encabezado") %>
<%- include("templates/menu") %>

<div class="container mt-5">
    <h2>Agregar Nuevo Producto</h2>
    <form action="addproduct/" method="POST" enctype="multipart/form-data" >
      <!-- Campo oculto para el id -->
      
      <!-- Agrega campos para ingresar los detalles del nuevo producto aquí -->
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
      </div>
      <div class="mb-3">
        <label for="ingredientes" class="form-label">Ingredientes:</label>
        <textarea class="form-control" id="ingredientes" name="ingredientes" required></textarea>
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio:</label>
        <input type="number" class="form-control" id="precio" name="precio" required>
      </div>
      <div class="mb-3">
        <label for="imagen" class="form-label">Imagen del Producto:</label>
        <input type="file" class="form-control" id="imagen" name="imagen">
      </div>
      <!-- Agrega más campos según tus necesidades -->
      <button type="submit" class="btn btn-primary">Agregar Producto</button>
    </form>
  </div>
