@media (min-width: 1024px) and (max-width: 1925px) {
    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: #d17b41;
    }

    .background {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
        background-image: linear-gradient(to bottom, #d17b41 50%, #a9d18e 100%);
        background-color: #a9d18e;
        opacity: 0.8;
        z-index: -1;
    }

    .logo {
        width: 10px;
        height: 10%;
        z-index: 1;
        mix-blend-mode: multiply;
    }

    body {
        margin: 0;
    }

}

menu {
    position: sticky;
    top: 0;
    width: 97.2%;
    background-color: #ffffff;
    /* Cambia el color de fondo según tus necesidades */
    z-index: 999;
    /* Asegura que el menú se muestre por encima de otros elementos */
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 500px;
    /* Ancho del menú desplegable */
    height: 800px;
    /* Alto del menú desplegable */
    background-color: rgba(0, 0, 0, 0.905);
    padding: 20px;
    display: none;
    z-index: 1;
    /* Asegura que el menú se muestre por encima de otros elementos */
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
}

.dropdown-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 35px;
    /* Tamaño de fuente de los enlaces */
    font-family: Arial, sans-serif;
    /* Establece la fuente deseada */
}

.dropdown-menu a:hover {
    color: #a9d18e;
    font-weight: bolder;
}

.shopping-icon,
.hamburger-icon {
    font-size: 40px;
    /* Ajusta el tamaño del icono según necesites */
    color: #000000;
    /* Ajusta el color del icono según tus preferencias */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.shopping-icon,
.hamburger-icon:hover {
    transform: scale(1.2);
}

.provider-container {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 20px;
  }
  
  .provider {
    position: relative;
    overflow: hidden;
  }
  
  .provider-image {
    width: 902px;
    height: 683px;

    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 2;
  }
  
  .provider:hover .provider-image {
    opacity: 0.5;
  }
  
  .provider:hover::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(30, 30, 30, 0.566);
    color: #ffffff;
    padding: 10px;
    font-size: 32px;
    transition: opacity 0.3s ease;
    opacity: 1;
  }
  
  .provider::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease;
  }
  
  .provider-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 10px;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.2s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
  }
  
  .provider:hover .provider-name {
    opacity: 0.6;
    font-size: 60px;
    text-align: center;
    color: aliceblue;
    filter: brightness(10);
    filter: hue-rotate(10);
  }
  
  .provider a {
    display: block;
    width: 100%;
    height: 100%;
  }
  