/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .loader {
    display: none !important;
  }

  .background {
    height: 50%;
  }

  .logo {
    height: 5%;
  }

  menu {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    /* Cambia el color de fondo según tus necesidades */
    z-index: 999;
    margin-bottom: 10px;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
    border: 1px solid #000000;
    border-radius: 15px;
    margin: 20px;
  }

  #form {
    padding-top: 25px;
    width: 100%;
    height: auto;
    font-size: 20px;
  }

  #form input[type="text"],
  #password {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 20px;
  }

  #form input[type="password"]:focus,
  #form input[type="text"]:focus {
    outline: none;
    border-color: #68a423;
    /* Cambia el color del borde cuando está enfocado */
  }

  .button_login {
    width: 80%;
    margin-top: 20px;
    font-size: 18px;
  }

  #form p {
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
  }

  #_z159 {
    margin-left: 0;
  }

  .provider-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

  }

  .provider {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #ffffff !important;
  }

  .provider-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-radius: 55px;
    z-index: 2;
    background-color: #000000;
    margin-left: 0;
  }

  .provider:hover .provider-image {
    opacity: 0.5;
    border-radius: 55px;
  }

  .provider:hover::after {
    content: '';
    border-radius: 55px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-48%);
    background-color: rgb(0, 0, 0);
    color: #000000;
    padding: 0px;
    font-size: 15%;
    transition: opacity 0.3s ease;
    opacity: 1;
  }

  .provider-name {
    position: absolute;
    top: 50%;
    border-radius: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    color: #010101;
    padding: 10px;
    font-size: 15%;
    opacity: 0;
    transition: opacity 0.2s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
  }

  .provider:hover .provider-name {
    opacity: 0.6;
    font-size: 30px;
    text-align: center;
    background-color: #000000;
    color: aliceblue;
    filter: brightness(10);
    filter: hue-rotate(10);
  }

  .provider a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/* Estilos para pantallas más grandes (PC) */
@media (min-width: 767px) and (max-width: 1925px) {
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #d17b41;
  }

  .background {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to bottom, #d17b41 50%, #a9d18e 100%);
    background-color: #a9d18e;
    opacity: 0.8;
    z-index: -1;
  }

  .logo {
    width: 10px;
    height: 10%;
    z-index: 1;
    mix-blend-mode: multiply;
  }

  menu {
    position: sticky;
    top: 0;
    width: 97.2%;
    background-color: #ffffff;
    /* Cambia el color de fondo según tus necesidades */
    border-radius: 1px;
    z-index: 999;
    /* Asegura que el menú se muestre por encima de otros elementos */
    padding-bottom: 5px;
    margin-bottom: 50px;
  }

  .provider-container {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 20px;
  }

  .provider {
    display: flex;
    /* Agregado: hace que los elementos internos se ajusten correctamente */
    position: relative;
    overflow: hidden;
    background-color: #ffffff !important;
  }

  .provider-image {
    margin-left: 65px;
    width: 80%;
    height: 100%;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-radius: 55px;
    z-index: 2;
    background-color: #000000;

  }

  .provider:hover .provider-image {
    opacity: 0.5;
    border-radius: 55px;

  }

  .provider:hover::after {
    content: '';
    border-radius: 55px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-48%);
    background-color: rgb(0, 0, 0);
    color: #000000;
    padding: 0px;
    font-size: 15%;
    transition: opacity 0.3s ease;
    opacity: 1;
  }

  .provider-name {
    position: absolute;
    top: 50%;
    border-radius: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    color: #010101;
    padding: 10px;
    font-size: 15%;
    opacity: 0;
    transition: opacity 0.2s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
  }

  .provider:hover .provider-name {
    opacity: 0.6;
    font-size: 60px;
    text-align: center;
    background-color: #000000;
    color: aliceblue;
    filter: brightness(10);
    filter: hue-rotate(10);
  }

  .provider a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .provider-image {
    color: #d17b41;
  }
}