@media (min-width: 1024px) and (max-width: 1925px) {
    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: #d17b41;
    }

    .background {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
        background-image: linear-gradient(to bottom, #d17b41 50%, #a9d18e 100%);
        background-color: #a9d18e;
        opacity: 0.8;
        z-index: -1;
    }

    .logo {
        width: 10px;
        height: 10%;
        z-index: 1;
        mix-blend-mode: multiply;
    }

    body {
        margin: 0;
        background-image: url("../Img/wave.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}

menu {
    position: sticky;
    top: 0;
    width: 97.2%;
    background-color: #ffffff;
    /* Cambia el color de fondo según tus necesidades */
    border-bottom: 1px solid grey;
    border-radius: 1px;
    z-index: 999;
    /* Asegura que el menú se muestre por encima de otros elementos */
    padding-bottom: 5px;
    margin-bottom: 50px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 500px;
    /* Ancho del menú desplegable */
    height: 800px;
    /* Alto del menú desplegable */
    background-color: rgba(0, 0, 0, 0.905);
    padding: 20px;
    display: none;
    z-index: 9999;
    /* Asegura que el menú se muestre por encima de otros elementos */
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
}

.dropdown-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 35px;
    /* Tamaño de fuente de los enlaces */
    font-family: Arial, sans-serif;
    /* Establece la fuente deseada */
}

.dropdown-menu a:hover {
    color: #a9d18e;
    font-weight: bolder;
}

.shopping-icon,
.hamburger-icon {
    font-size: 40px;
    /* Ajusta el tamaño del icono según necesites */
    color: #000000;
    /* Ajusta el color del icono según tus preferencias */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.shopping-icon,
.hamburger-icon:hover {
    transform: scale(1.2);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 50px;
    cursor: pointer;
}

.grid-item:hover img {
    transform: scale(1.2);
    border-radius: 50px;
    cursor: pointer;
}

.grid-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;

}

.grid-item:hover .overlay {
    opacity: 1;
}

.grid-item .overlay span {
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;

}
.containerpopup {
    position: relative;
    z-index: 1;
  }
  .hidden {
    display: none;
  }
  .popup {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
  }
  
  #popup-content {
    margin-bottom: 40px;
  }
  
  #popup-image img {
    max-width: 50%;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 52px;
    cursor: pointer;
  }
  
  .popup-title {
    /* Estilos para el título del popup */
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    /* Agrega cualquier otro estilo que desees */
  }
  
  .popup-description {
    /* Estilos para la descripción del popup */
    padding-top: 20px;
    font-size: 25px;
    color: #c02222;
    /* Agrega cualquier otro estilo que desees */
  }
  
  .popup-ingredients {
    /* Estilos para la lista de ingredientes del popup */
    list-style: none;
    padding: 0;
    /* Agrega cualquier otro estilo que desees */
  }

  