@media (min-width: 1024px) and (max-width: 1925px) {
    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      background-color: #d17b41;
    }
  
    .background {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
      background-image: linear-gradient(to bottom, #d17b41 50%, #a9d18e 100%);
      background-color: #a9d18e;
      opacity: 0.8;
      z-index: -1;
    }
  
    .logo {
      width: 10px;
      height: 10%;
      z-index: 1;
      mix-blend-mode: multiply;
    }
  
  
    menu {
      position: sticky;
      top: 0;
      width: 97.2%;
      background-color: #ffffff;
      /* Cambia el color de fondo según tus necesidades */
      border-radius: 1px;
      z-index: 999;
      /* Asegura que el menú se muestre por encima de otros elementos */
      padding-bottom: 5px;
      margin-bottom: 50px;
    }
    .container {
      max-width: 768px;
      margin: 0 auto;
    }
  
    #form {
      display: flex;
      flex-direction: column;
      /* Cambia la dirección del flexbox a columna */
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 750px;
      /* Reduce el ancho para que se vea más compacto */
      height: 420px;
      /* Reduce la altura para que se vea más compacto */
      border: 1px solid rgb(0, 0, 0);
      border-radius: 15px;
      background-color: #f9f9f9;

      /* Agrega un espacio interno */
      padding-top: 25px;
      font-size: 25px;
    }
  
    #form input[type="text"] {
      width: 90%;
      padding-top: 10px;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 15px;
      font-size: 25px;
    }
  
    #password {
      width: 90%;
      padding-top: 10px;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 15px;
      font-size: 25px;
    }
  
    #form input[type="password"]:focus {
      outline: none;
      border-color: #68a423;
      /* Cambia el color del borde cuando está enfocado */
    }
  
    #form input[type="password"]:focus {
        width: 90%;
        padding-top: 10px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
        font-size: 25px;
    }}
    #form input[type="text"]:focus {
        outline: none;
        border-color: #68a423;
        /* Cambia el color del borde cuando está enfocado */
      }
    
      #form input[type="password"]:focus {
        outline: none;
        border-color: #68a423;
        /* Cambia el color del borde cuando está enfocado */
      }
    
    
      button{
        background-color: #68a423;
        color: #ffffff;
        font-size: 17px;
        border: none;
        padding: 15px 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 20px;
        /* Agrega un margen superior para separar el botón del resto del formulario */
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      a {
        text-decoration: none;
      }
    
      button:hover {
        background-color: #d28125;
        /* Cambia el color de fondo cuando se pasa el mouse */
      }
    
      #form p {
        padding-top: 40px;
        margin-bottom: 10px;
        font-size: 18px;
        color: #888;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
      }
    
      #form p a {
        color: #68a423;
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    
      #form p a:hover {
        text-decoration: underline;
        /* Subraya el enlace cuando se pasa el mouse */
        color: #d28125;
      }
    
      #_z159 {
        margin-left: 70px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    
      .footer{
        background-color: #f9f9f9;
        /* Fondo gris tenue */
        padding: 20px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px
      }
    
      .footer a {
        margin: 0 10px;
        color: #333;
        text-decoration: none;
      }
    
      .footer a:hover {
        color: #555;
      }
    
      .footer i {
        font-size: 18px;
      }
    
      .footer .utsjr-button {
        width: 120px;
        height: 15px;
        background-color: #000000;
        color: #fff;
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
        display: inline-block;
        background-image: url('/web/Img/ut.png');
        background-size: cover;
        background-position: center center
      }
    
      .footer .utsjr-button:hover {
        background-color: #23527c;
      }
    