@media (max-width: 1023px) {
  .loader {
      height: auto;
  }

  .background {
      height: 50%;
  }

  .logo {
      height: 5%;
  }

  menu {
      position: sticky;
      top: 0;
      width: 100%;
  }

  .container {
      max-width: 100%;
      margin: 0 auto;
      padding: 20px 10px;
      border: 1px solid #000000;
      border-radius: 15px;
      margin: 50px;
  }

  #form {
      padding-top: 25px;
      width: 100%;
      height: auto;
      padding-top: 10px;
      font-size: 20px;

  }

  #form input[type="text"] {
    width: 90%;
    padding-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 25px;
  }

  #password {
    width: 90%;
    padding-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 25px;
  }

  #form input[type="password"]:focus {
    outline: none;
    border-color: #68a423;
    /* Cambia el color del borde cuando está enfocado */
  }

  #form input[type="password"]:focus {
      width: 90%;
      padding-top: 10px;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 15px;
      font-size: 25px;
  }}
  #form input[type="text"]:focus {
      outline: none;
      border-color: #68a423;
      /* Cambia el color del borde cuando está enfocado */
    }
  
    #form input[type="password"]:focus {
      outline: none;
      border-color: #68a423;
      /* Cambia el color del borde cuando está enfocado */
    }

  .button_login {
      width: 50%;
      margin-top: 20px;
      font-size: 18px;
  }

  #form p {
      padding-top: 30px;
      margin-bottom: 10px;
      font-size: 16px;
      text-align: center;
  }

  #_z159 {
      margin-left: 0;
  }

  .footer {
      padding: 20px 10px;
      font-size: 16px;
  }

  .footer a {
      margin: 0 5px;
  }

  .footer i {
      font-size: 16px;
  }

  .footer .utsjr-button {
      width: 100px;
      height: auto;
      padding: 8px 10px;
      background-size: cover;
      background-position: center center;
  }

@media (min-width: 1024px) and (max-width: 1925px) {
    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      background-color: #d17b41;
    }
  
    .background {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
      background-image: linear-gradient(to bottom, #d17b41 50%, #a9d18e 100%);
      background-color: #a9d18e;
      opacity: 0.8;
      z-index: -1;
    }
  
    .logo {
      width: 10px;
      height: 10%;
      z-index: 1;
      mix-blend-mode: multiply;
    }
  
  
    menu {
      position: sticky;
      top: 0;
      width: 97.2%;
      background-color: #ffffff;
      /* Cambia el color de fondo según tus necesidades */
      border-radius: 1px;
      z-index: 999;
      /* Asegura que el menú se muestre por encima de otros elementos */
      padding-bottom: 5px;
      margin-bottom: 50px;
    }
    .container {
      max-width: 768px;
      margin: 0 auto;
    }
  
    #form {
      display: flex;
      flex-direction: column;
      /* Cambia la dirección del flexbox a columna */
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 750px;
      /* Reduce el ancho para que se vea más compacto */
      height: 420px;
      /* Reduce la altura para que se vea más compacto */
      border: 1px solid rgb(0, 0, 0);
      border-radius: 15px;
      background-color: #f9f9f9;

      /* Agrega un espacio interno */
      padding-top: 25px;
      font-size: 25px;
    }
  
    #form input[type="text"] {
      width: 90%;
      padding-top: 10px;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 15px;
      font-size: 25px;
    }
  
    #password {
      width: 90%;
      padding-top: 10px;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 15px;
      font-size: 25px;
    }
  
    #form input[type="password"]:focus {
      outline: none;
      border-color: #68a423;
      /* Cambia el color del borde cuando está enfocado */
    }
  
    #form input[type="password"]:focus {
        width: 90%;
        padding-top: 10px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
        font-size: 25px;
    }}
    #form input[type="text"]:focus {
        outline: none;
        border-color: #68a423;
        /* Cambia el color del borde cuando está enfocado */
      }
    
      #form input[type="password"]:focus {
        outline: none;
        border-color: #68a423;
        /* Cambia el color del borde cuando está enfocado */
      }
    
    
      .button_login{
        background-color: #68a423;
        color: #ffffff;
        font-size: 17px;
        border: none;
        padding: 15px 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 20px;
        /* Agrega un margen superior para separar el botón del resto del formulario */
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      a {
        text-decoration: none;
      }
    
      .button_login:hover {
        background-color: #d28125;
        /* Cambia el color de fondo cuando se pasa el mouse */
      }
    
      #form p {
        padding-top: 40px;
        margin-bottom: 10px;
        font-size: 18px;
        color: #888;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
      }
    
      #form p a {
        color: #68a423;
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    
      #form p a:hover {
        text-decoration: underline;
        /* Subraya el enlace cuando se pasa el mouse */
        color: #d28125;
      }
    
      #_z159 {
        margin-left: 70px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    
      .footer{
        background-color: #f9f9f9;
        /* Fondo gris tenue */
        padding: 20px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px
      }
    
      .footer a {
        margin: 0 10px;
        color: #333;
        text-decoration: none;
      }
    
      .footer a:hover {
        color: #555;
      }
    
      .footer i {
        font-size: 18px;
      }
    
      .footer .utsjr-button {
        width: 120px;
        height: 15px;
        background-color: #000000;
        color: #fff;
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
        display: inline-block;
        background-image: url('/web/Img/ut.png');
        background-size: cover;
        background-position: center center
      }
    
      .footer .utsjr-button:hover {
        background-color: #23527c;
      }
      .provider-container {
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        grid-gap: 20px;
    }
    
    .provider {
        display: flex;
        /* Agregado: hace que los elementos internos se ajusten correctamente */
        position: relative;
        overflow: hidden;
    }
    
    .provider-image {
        margin-left: 65px;
        width: 80%;
        height: 100%;
        cursor: pointer;
        transition: opacity 0.3s ease;
        z-index: 2;
    
    }
    
    .provider:hover .provider-image {
        opacity: 0.5;
    
    }
    
    .provider:hover::after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(30, 30, 30, 0.566);
        color: #ffffff;
        padding: 0px;
        font-size: 32px;
        transition: opacity 0.3s ease;
        opacity: 1;
    }
    
    .provider::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        z-index: 1;
        transition: opacity 0.3s ease;
    }
    
    .provider-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(0, 0, 0);
        color: #ffffff;
        padding: 10px;
        font-size: 24px;
        opacity: 0;
        transition: opacity 0.2s ease;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        z-index: 2;
    }
    
    .provider:hover .provider-name {
        opacity: 0.6;
        font-size: 60px;
        text-align: center;
        color: aliceblue;
        filter: brightness(10);
        filter: hue-rotate(10);
    }
    
    .provider a {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .provider-image {
        color: #d17b41;
    }
    