/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .loader {
    display: none !important;
  }

  .background {
    height: 50%;
  }

  .logo {
    height: 5%;
  }

  menu {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
    margin-bottom: 30px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    margin: 0 auto;
    padding: 20px 10px;
    border: 1px solid #000000;
    border-radius: 15px;
  }

  /* Estilos específicos para el formulario en pantallas pequeñas */
  #form {
    width: 80%;
    padding-top: 15px;
    font-size: 18px;
    margin-right: 20px;
    padding-right: 20px;
  }

  #form input[type="text"],
  #form input[type="password"] {
    width: 100%;
    font-size: 16px;
  }

  .button_login {
    background-color: #68a423;
    color: #ffffff;
    font-size: 17px;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  a {
    text-decoration: none;
    color: #68a423;
  }

  .button_login:hover {
    background-color: #d28125;
  }

  #form p {
    padding-top: 20px;
    font-size: 14px;
  }

  #_z159 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 60px;
  }

  .provider-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .provider {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #ffffff !important;
  }

  .provider-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-radius: 55px;
    z-index: 2;
    background-color: #000000;
  }

  .provider:hover .provider-image {
    opacity: 0.5;
    border-radius: 55px;
  }

  .provider:hover::after {
    content: '';
    border-radius: 55px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-48%);
    background-color: rgb(0, 0, 0);
    color: #000000;
    padding: 0px;
    font-size: 15%;
    transition: opacity 0.3s ease;
    opacity: 1;
  }

  .provider-name {
    position: absolute;
    top: 50%;
    border-radius: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    color: #010101;
    padding: 10px;
    font-size: 15%;
    opacity: 0;
    transition: opacity 0.2s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
  }

  .provider:hover .provider-name {
    opacity: 0.6;
    font-size: 30px;
    text-align: center;
    background-color: #000000;
    color: aliceblue;
    filter: brightness(10);
    filter: hue-rotate(10);
  }

  .provider a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/* Estilos para tablets y pantallas de mayor tamaño */
@media (min-width: 768px) and (max-width: 1925px) {
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #d17b41;
  }

  .background {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to bottom, #d17b41 50%, #a9d18e 100%);
    background-color: #a9d18e;
    opacity: 0.8;
    z-index: -1;
  }

  .logo {
    width: 10px;
    height: 10%;
    z-index: 1;
    mix-blend-mode: multiply;
  }

  menu {
    position: sticky;
    top: 0;
    width: 97.2%;
    background-color: #ffffff;
    border-radius: 1px;
    z-index: 999;
    padding-bottom: 5px;
    margin-bottom: 50px;
  }

  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  #form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 780px;
    height: 460px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: #f9f9f9;
    padding-top: 25px;
    font-size: 25px;
  }

  #form input[type="text"],
  #password {
    width: 90%;
    padding-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 25px;
  }

  #form input[type="password"]:focus,
  #form input[type="text"]:focus {
    outline: none;
    border-color: #68a423;
  }

  .button_login {
    background-color: #68a423;
    color: #ffffff;
    font-size: 17px;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  a {
    text-decoration: none;
  }

  .button_login:hover {
    background-color: #d28125;
  }

  #form p {
    padding-top: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #888;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }

  #form p a {
    color: #68a423;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #form p a:hover {
    text-decoration: underline;
    color: #d28125;
  }

  #_z159 {
    margin-left: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }

  .footer a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
  }

  .footer a:hover {
    color: #555;
  }

  .footer i {
    font-size: 18px;
  }

  .footer .utsjr-button {
    width: 120px;
    height: 15px;
    background-color: #000000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    background-image: url('/web/Img/ut.png');
    background-size: cover;
    background-position: center center;
  }

  .footer .utsjr-button:hover {
    background-color: #23527c;
  }

  .provider-container {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 20px;
  }

  .provider {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #ffffff !important;
  }

  .provider-image {
    margin-left: 65px;
    width: 80%;
    height: 100%;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-radius: 55px;
    z-index: 2;
    background-color: #000000;
  }

  .provider:hover .provider-image {
    opacity: 0.5;
    border-radius: 55px;
  }

  .provider:hover::after {
    content: '';
    border-radius: 55px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-48%);
    background-color: rgb(0, 0, 0);
    color: #000000;
    padding: 0px;
    font-size: 15%;
    transition: opacity 0.3s ease;
    opacity: 1;
  }

  .provider-name {
    position: absolute;
    top: 50%;
    border-radius: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    color: #010101;
    padding: 10px;
    font-size: 15%;
    opacity: 0;
    transition: opacity 0.2s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
  }

  .provider:hover .provider-name {
    opacity: 0.6;
    font-size: 60px;
    text-align: center;
    background-color: #000000;
    color: aliceblue;
    filter: brightness(10);
    filter: hue-rotate(10);
  }

  .provider a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .provider-image {
    color: #d17b41;
  }
}
